<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moyu.oauth2.client.mapper.UserAuthInfoMapper">

    <resultMap id="BaseResultMap" type="com.moyu.oauth2.client.model.UserAuthInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="authType" column="auth_type" jdbcType="VARCHAR"/>
            <result property="authPrincipal" column="auth_principal" jdbcType="VARCHAR"/>
            <result property="authCredential" column="auth_credential" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,auth_type,
        auth_principal,auth_credential
    </sql>
</mapper>
